html { margin: 20px }
body img {
	border: none;
}
body {
/*  font-family: 'Baskerville', Georgia, Times, serif;*/
	font-family: "Minion Pro", "Palatino", "Hoefler Text", "Times New Roman", serif;;
  font-size: 20px;
  line-height: 30px;
  padding: 0px 15px;
  width: 98%;
}

header, footer, section, article {
	display: block;
}

#content {
}

#by {
	font-style: italic;
  margin-right: 5px;
	font-size: 28px;
}
#caption {
	position: absolute;
	font-size: 24px;
	margin: -135px 0 0 70px;
}
#path {
	color: #b53131;
}
.date {
/*  font-style: italic;*/
  line-height: 43px;
	margin-top: -3px;
	
	font-family: "American Typewriter", Monaco, Courier, monospace;
	color: #777;
	font-size: 90%;
	display: inline-block;
}
a {
  color: #b83000;
}
h1 a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body > header > h1 {
	border-left: 30px solid black;
	padding-left: 30px;
  font-size: 201px;
  margin: 100px 0 15px 0;
  font-weight: normal;
}
.post header {
	margin-bottom: 10px;
}
.post .body p:first-child {
	margin-top: 0;
}
.post .body p:last-child {
	margin-bottom: 0;
}
.post {
	margin-bottom: 30px;
}
.post:last-child {
  margin-bottom: 10px;
}
.post p {
  margin: 5px 0;
}
.post .more {
  margin-top: -10px;
  margin-right: 30px;
  font-style: italic;
  text-align: right;
}
.more a {
  text-decoration: none;
}
.more a:hover { text-decoration: underline }
body > header {
	display: block;
	padding-top: 30px;
	line-height: 180px;
	margin-bottom: 20px;
}
h3, h4 {
  display: inline;
  margin: 0;
  font-weight: 600;
}
ul, li {
  list-style-type: none;
}
code {
  font-family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono;
	font-size: 14px;
}
pre {          
	margin: 0px;
  padding: 0px;
	font-size: 14px;
	line-height: 20px;
}
blockquote {
  font-style: italic;
}

body > footer {
  text-align: left;
  margin-left: 10px;
	font-style: italic;
  font-size: 18px;
  color: #888;
}
      
h2 {
	margin: 0px;
	margin-bottom: 0.7em;
	font-size: 1.5em !important;
	border: none !important;
}

h1, h2 {
	font: 300 2.4em "Museo", "Cochin", Georgia, "Times New Roman", serif;
	border-left: 30px solid #B3C1CD;
	padding-left: 10px;
	margin-left: -40px;
	text-shadow: rgba(28, 73, 115, .7) 0 0 4px;
	clear: both;
}

#title_link {
	text-decoration: none;
}

#little_about {
	float: left;
	width: 20%;
	margin-left: -10px;
}

#sections {
	float: left;
	width: 80%;
}

.menu_icon {
	background: url("../images/icons.png") no-repeat top left;
	margin-right: 15px;
	padding: 4px 0px 6px 32px;
}

.sobre {
	background-position: -48px -960px;
}

.archives {
	background-position: -240px -864px;
}

.twitter {
	background-position: -48px 0;
}

.github {
	background-position: -240px -480px;
}

.feed {
	background-position: -240px -288px;
}

#menu {
	margin: 0px;
}

#menu li {
	margin-left: -40px;
	padding: 0px 10px 20px 0px;
	font-family: Georgia;
}

#container {
}

.clear {
	clear: both;
}

.separador {
	margin: 0px 10px;
}

.subtext {
	margin-top: -1.2em;
	margin-bottom: 2em;
	color: #666;
	font-style: italic;
	font-variant: small-caps;
}

.content {
	margin-top: 10px;
}

.content p {
	padding-bottom: 15px;
}

.archive_list {
	margin-left: -35px;
}

.foto img {
	border: 1px solid #999999;
}         

#github_projects {
	text-align: left;
}

.tweet_post {
}

.comments {
	margin-top: 10px;
}




